.Card {
  position: relative;
  display: grid;
  background-color: #e7e7e7;
  margin: 0 auto;
  width: calc(100% * 0.77705);
  border: 4px solid black;
  border-radius: 4px;
  animation: loadingCard 0.75s ease-in;
  animation-delay: 0.01s;
}

.Card:hover {
  transform: translateY(-8px);
}

@keyframes loadingCard {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  50% {
    opacity: 0.1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pk-image {
  border-bottom: 4px solid black;
}

.pk-image img {
  aspect-ratio: 1/1;
  width: calc(90%);
}

.pk-desc {
  animation: shrink 0.75s;
  transition: all 0.75s ease-in-out;
}

@keyframes shrink {
  0% {
    height: 9.75rem;
  }

  100% {
    height: 4.2rem;
  }
}

.pk-desc.is-expanded {
  animation: expand 0.75s;
  transition: all 0.75s ease-out;
}

@keyframes expand {
  0% {
    height: 4.2rem;
  }

  100% {
    height: 9.75rem;
  }
}

.pk-info, .pk-types {
  display: flex;
}

.pk-info {
  margin: 0.2rem 0.5rem;
  justify-content: space-between;
}

.pk-types {
  margin: 0rem 0.3rem;
  justify-content: space-between;
}

.pk-types img {
  height: 28px;
}

.vs {
  display: none;
  margin: 0.2rem 0.4rem 0.6rem;
}

.vs.is-expanded {
  display: block;
  animation: visible 3s;
  transition: all 1s ease-out;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.icon-vs {
  display: flex;
  justify-content: center;
  column-gap: 0.25rem;
  height: 1rem;
}