.Card {
  position: relative;
  display: grid;
  background-color: #e7e7e7;
  margin: 0 auto;
  min-height: 247px;
  min-width: 192px;
  max-width: 12rem;
  border: 4px solid black;
  border-radius: 4px;
  animation: loadingCard 0.75s ease-in;
  transition: all .5s ease-in;
}

.Card:hover {
  transform: translateY(-8px);
}

@keyframes loadingCard {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 0.1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pk-image {
  border-bottom: 4px solid black;
}

.pk-image img {
  aspect-ratio: 1/1;
  width: 90%;
}

.pk-desc {
  animation: shrink 0.75s;
  transition: all 0.75s ease-in-out;
}

.pk-info,
.pk-types {
  display: flex;
}

.pk-info {
  margin: 0.2rem 0.5rem;
  justify-content: space-between;
}

.pk-types {
  margin: 0rem 0.3rem;
  justify-content: space-between;
}

.pk-types img {
  height: 28px;
}

@keyframes visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}