.Content {
  margin-top: 2rem;
}

.List-of-cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media (min-width: 640px) {
  .List-of-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .List-of-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .List-of-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}