a {
  color: #c8c8c8;
  font-size: 1.6rem;
  font-style: italic;
  text-decoration: none;
  paint-order: stroke fill;
  -webkit-text-stroke: 1.5px #000000;
}

a:hover {
  display: inline-block;
  transform: scale(1.1) rotate(7deg);
}

.is-active {
  font-size: 2.2rem;
}

.is-active:hover {
  transform: none;
}

.title {
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  a {
    font-size: 2rem;
  }

  .is-active {
    font-size: 2.75rem;
  }
}