.config {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 0 auto;
  gap: 1rem;
  max-width: 276px;
}

.config input,
.config select {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 2px 2px;
  outline: none;
  font-weight: 600;
  text-align: left;
  width: 8rem;
  height: 2rem;
}

.config-item {
  width: fit-content;
}

@media (min-width: 640px) {
  .config {
    display: flex;
    justify-content: center;
    max-width: none;
  }
}